body {
    background-color: #cdc2c2;
}

#container{
    background-color: rgb(111, 111, 151);
    border: 5px solid rgb(46, 42, 38);
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

#input{
    width: 100px;
    margin: 25px auto;
}
#btn{
    margin: 25px auto;
}